{% extends 'base.html' %}

{% block content %}
    <!-- table for queued to printer files -->
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Print Image</th>
                <th>Print File</th>
                <th>Printer</th>
                <th>Sent to Printer</th>
                <th>Completed</th>
                <th>Priority</th>
                <th>Duration (hours)</th>

            </tr>
        </thead>
        <tbody>
            {% for queue_item in productionqueue_list %}
                {%  if queue_item.printer and not queue_item.sent_to_printer %}
            <tr>
                <td>{{ queue_item.timestamp }}</td>
                <td>{{ queue_item.print_file.image_tag }}</td>
                <td>{{ queue_item.print_file.filename }}</td> <!-- Assuming GCodeFile has a name field -->
                                <td>
                    {% if queue_item.printer %}
                        {{ queue_item.printer.name }} <!-- Assuming Printer has a name field -->
                    {% else %}
                        Not Assigned
                    {% endif %}
                </td>
                <td>{{ queue_item.sent_to_printer|yesno:"Yes,No" }}</td>
                <td>{{ queue_item.completed|yesno:"Yes,No" }}</td>
                <td>{{ queue_item.priority }}</td>
                <td>{{ queue_item.duration }}</td>

            </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td colspan="7">No items in the production queue.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- table for not queued files -->
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Print Image</th>
                <th>Print File</th>
                <th>Printer</th>
                <th>Sent to Printer</th>
                <th>Completed</th>
                <th>Priority</th>
                <th>Duration (hours)</th>

            </tr>
        </thead>
        <tbody>
            {% for queue_item in productionqueue_list %}
                {%  if not queue_item.printer %}
            <tr>
                <td>{{ queue_item.timestamp }}</td>
                <td>{{ queue_item.print_file.image_tag }}</td>
                <td>{{ queue_item.print_file.filename }}</td> <!-- Assuming GCodeFile has a name field -->
                                <td>
                    {% if queue_item.printer %}
                        {{ queue_item.printer.name }} <!-- Assuming Printer has a name field -->
                    {% else %}
                        Not Assigned
                    {% endif %}
                </td>
                <td>{{ queue_item.sent_to_printer|yesno:"Yes,No" }}</td>
                <td>{{ queue_item.completed|yesno:"Yes,No" }}</td>
                <td>{{ queue_item.priority }}</td>
                <td>{{ queue_item.duration }}</td>

            </tr>
                {% endif %}
            {% empty %}
            <tr>
                <td colspan="7">No items in the production queue.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}