{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="tui-window" style="text-align: left;">
            <fieldset class="tui-fieldset">
<LEGEND>On Printer</LEGEND>
                <table class="tui-table hovered-cyan" style="width: 700px">
        <thead>
            <tr>
                <th>Action</th>
                <th></th>
                <th>Latest Rev</th>
                <th>Priority</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for queue_item in productionqueue_list|filter_by_fields:"printer=none,sent_to_printer=True" %}
                <tr class="{% if queue_item.print_file.is_latest %}{% else %}highlight{% endif %}">
                    <td class="centered-cell"><a class="tui-button"  href="{% url 'production_queue_update' queue_item.id %}">Update</a></td>
                        <td>{{ queue_item.timestamp }}</td>
                    <td class="centered-cell">{{ queue_item.print_file.image_tag }}
                        <div>{{ queue_item.print_file.filename }}</div>
                    </td> <!-- Assuming GCodeFile has a name field -->

                    <td>{{ queue_item.duration_formatted.hours }}h{{ queue_item.duration_formatted.minutes }}m{{ queue_item.duration_formatted.seconds }}s</td>


                </tr>

            {% empty %}
            <tr>
                <td colspan="8" class="centered-cell">No Items On Printers</td>

            </tr>
                            <tr>
                                <td colspan="8" class="centered-cell">
                                    <a class="tui-button" href="{% url 'production_queue' %}">Change That</a>
                                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
            </fieldset>
    </div>
{% endblock %}